<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/css/style.css" >
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class = 'div_header_content'>
            <label for="">Mail</label>
        <a href="">WriteMas</a>
        <a href="">Messages</a>
        </div>
    </div>
    <div class="content">
        
    </div>
</body>
</html>